.tab-link {
    border-color: transparent;
    color: #4B5563;
    white-space: nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-bottom-width: 2px;
    font-weight: 500;
    font-size: 0.875rem;
    margin-right: 1.5rem;
    transition: color 0.2s, border-color 0.2s;
}

.dark .tab-link {
    color: #9CA3AF;
}

.tab-link:hover {
    color: #111827;
    border-color: #9CA3AF;
}

.dark .tab-link:hover {
    color: #F9FAFB;
    border-color: #6B7280;
}


.tab-link.is-active {
    color: #DC2626 !important;
    border-color: #DC2626 !important;
}


.proposal-card {
    background-color: #FFFFFF;
    padding: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid #E5E7EB;
}

.dark .proposal-card {
    background-color: #1F2937;
    border-color: #374151;
}

.proposal-card h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #111827;
    margin-bottom: 0.25rem;
}

.dark .proposal-card h4 {
    color: #F9FAFB;
}

.proposal-card p {
    font-size: 0.875rem;
    color: #4B5563;
}

.dark .proposal-card p {
    color: #9CA3AF;
}